{% extends "layout.html" %}

{% block title %}
Change password
{% endblock %}

{% block main %}
<div class="d-lg-inline-flex p-5 mt-4" style="background-color:white">
    <div class="SignUpForm">
        <div class="d-flex justify-content-start my-4">
            <h3>
                Change password
            </h3>
        </div>
    <form action="/change_password" method="post">
        <div class="mb-2">
            <lable class="form-label"><b>New Password</b></lable>
            <input class="form-control" type="password" autocomplete="off" name="new_password" id="new_password">
            <div class="mb-1 text-danger" style="font-size:12px">
                {{error}}
            </div>
        </div>
        <div class="mb-2">
            <label class="form-label"><b>Confirm Password</b></label>
            <input class="form-control"name="confirm_password" id="confirm_password" type="password" >
            <div class="mb-1 text-danger" style="font-size:12px">
                {{error}}
                {{confirm_password_error}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Change Password</button>

    </form>
</div>
<script>

</script>
{% endblock %}