{% extends "layout.html" %}

{% block title %}
Contect
{% endblock %}



{% block main %}
<h2 class="my-5" style="text-align: center; align-items: center; justify-content: center;">
    Contect Us
</h2>
<div class="row mt-4 mx-5">
    <div class="col">
        <a href="https://twitter.com/?lang=en">
            <img src="../static/img/X.svg" style="height: 50px; width: 50px;"/>
        </a>
    </div>
    <div class="col">
        <a href="mailto:helpfulmushrooms@gmail.com">
            <img src="../static/img/gmail.svg" style="height: 50px; width: 50px;"/>
        </a>
    </div>
    <div class="col">
        <a href="https://www.facebook.com/profile.php?id=61558881623774">
            <img src="../static/img/facebook.svg" style="height: 50px; width: 50px;"/>
        </a>
    </div>
    <div class="col">
        <a href="https://www.instagram.com/helpful_mushrooms?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
            <img src="../static/img/instagram.svg" style="height: 50px; width: 50px;"/>
        </a>
    </div>
    <div class="col">
        <img src="../static/img/whatsapp.svg" style="height: 50px; width: 50px;"/>
    </div>
</div>
{% endblock %}