{% extends "layout.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block main %}
<div class="d-lg-inline-flex p-5 mt-4" style="background-color:white">
    <div class="SignUpForm">
        <div class="d-flex justify-content-start my-4">
            <h3>
                 Forgot Password
            </h3>
        </div>
    <form action="/forgot_password" method="post">
        <div class="mb-2">
            <lable class="form-label"><b>Email or Mobile number</b></lable>
            <input class="form-control" autocomplete="off" name="email_phone" id="email_phone">
            <div class="mb-1 text-danger" style="font-size:12px">
                {{forgot_password_error}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Send OTP</button>
        <div>
            <a href="/login" style="font-size:14px">Back to SignIn<span>&#8599</span></a>
        </div>
    </form>
</div>
<script>

</script>
{% endblock %}