{% extends "layout.html" %}

{% block title %}
Verification
{% endblock %}

{% block main %}
<div class="d-lg-inline-flex p-5 mt-4" style="background-color:white">
    <div class="SignUpForm">
        <div class="d-flex justify-content-start my-4">
            <h3>
                 Verification
            </h3>
        </div>
    <form action="/verification" method="post">
        <div class="mb-2">
            <lable class="form-label"><b>OTP</b></lable>
            <input class="form-control" autocomplete="off" name="otp" id="otp">
            <div class="mb-1 text-danger" style="font-size:12px">
                {{otp_error}}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Verify</button>
        <div>
            <a href="/register" style="font-size:14px">Back<span>&#8599</span></a>
        </div>
        <div style="font-size:14px">
            <a href="/verification">Resend<span>&#8599</span></a>
        </div>
    </form>
</div>
<script>

</script>
{% endblock %}